In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.read_csv('bank_data.csv')
df = pd.read_csv('bank_data.csv')
df

        id  x_coordinate  y_coordinate  money  time (hr)
0        0      2.851925      1.201712  29700   0.273403
1        1      4.150372     -2.654334   6500   0.064040
2        2     -1.494092     -1.230419  89400   0.127458
3        3      1.271326     -0.088520  96100   1.315029
4        4      2.471113     -0.592810  41100   0.164393
...    ...           ...           ...    ...        ...
9995  9995     -2.472127      4.787304   2100   0.494904
9996  9996      1.034968     -4.321240  54900   0.492866
9997  9997     -0.512720     -2.949173  32200   0.933033
9998  9998      2.626841     -3.482923   5100   0.551312
9999  9999     -3.992507      0.090112  21000   1.107299

[10000 rows x 5 columns]

In [2]:
dff = df.sort_values('money', ascending = False, ignore_index = True)
dfff = dff.iloc[:5000,]
dfff['profit1'] = dfff.loc[:,'money'] / dfff.loc[:,'time (hr)']
dffff = dfff.sort_values('profit1', ascending = False, ignore_index = True)
dffff

<ipython-input-2-a896f78b3909>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfff['profit1'] = dfff.loc[:,'money'] / dfff.loc[:,'time (hr)']

        id  x_coordinate  y_coordinate  money  time (hr)       profit1
0     3613     -1.950527     -1.495858  54400   0.000186  2.929603e+08
1     9546     -1.810721     -0.795421  75100   0.000788  9.530556e+07
2     3803      3.867586      0.918332  18500   0.000358  5.169381e+07
3     6528     -0.282937      3.224334  33900   0.000769  4.407762e+07
4     9583      3.393835     -2.790830  24000   0.001131  2.121396e+07
...    ...           ...           ...    ...        ...           ...
4995  8321     -2.635291     -1.270286   5800   1.395319  4.156756e+03
4996  7253     -2.905598      4.413992   6100   1.477093  4.129734e+03
4997  2565      3.994918      1.515172   5900   1.432734  4.118002e+03
4998  9342     -1.084833      0.488795   5900   1.451861  4.063750e+03
4999  6837      3.274718     -0.229990   5900   1.492682  3.952617e+03

[5000 rows x 6 columns]

In [6]:
x = dffff['x_coordinate']
y = dffff['y_coordinate']
time = dffff['time (hr)']
money = dffff['money']
bank = dffff['id']
profit1 = dffff['profit1']

In [7]:
class Robber:
    def __init__(self, time, money, bank, x, y):
        self.x = x
        self.y = y
        self.time = time
        self.bank = bank
        self.money = money
    def distance_traveled(self, current_x, current_y):
        self.current_x = current_x
        self.current_y = current_y
        self.distance = []
        for i in range(len(self.x)):
            self.distance.append(np.sqrt(((self.y[i] - current_y) ** 2) + ((self.x[i] - current_x) ** 2)))
        return distance
    
    def travel_time(self, current_bank, next_bank):
        return (np.sqrt((x[current_bank] - x[next_bank]) ** 2 + (y[current_bank] - y[next_bank]) ** 2)) / 30
                
    def travel_time_home(self, current_bank):
        return (np.sqrt((x[current_bank] - 0) ** 2 + (y[current_bank] - 0) ** 2)) / 30           
                
    def profit(self, start_bank):
        banks_robbed = []
        current_bank = start_bank
        money_raised = 0
        time_elapsed = 0
        for i in range(len(bank)):
            banks_robbed.append(current_bank)
            money_raised += money[current_bank]
            time_elapsed += time[current_bank]
            next_bank = current_bank + 1
            time_elapsed += self.travel_time(current_bank, next_bank)
            time_to_get_home = self.travel_time_home(next_bank)
            if time_elapsed + time_to_get_home > 24:
                break
            else:
                current_bank = next_bank
        return banks_robbed, money_raised

In [8]:
mike = Robber(time, money, bank, x, y)
mike.profit(0)

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124],
 6612400)